@model Product[]

@{
    ViewBag.Title = "Product Name";
}
@if (0 == 0)
{
    @:Out of Stock
    <b>qweqwe</b>
}
<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
